/* Page Styles Go Here... */
th { padding: 0.1em 1em; text-align: left; }
td { padding: 0.1em 1em; }

h3 { margin-top: 0; }
.list { font-family: verdana, sans-serif; font-size: 11px; }
.list td { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.entity { max-width: 130px; }
.desc { max-width: 280px; }
.blue { color: blue; }
.red { color: red; }