/* Page Styles Go Here... */
.menu-container {
  max-width: 320px;
  margin: 1.5em auto;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu a { 
  display: block;
  background-color: white;
  font-family: helvetica;
  padding: 0.34em 1em;
  margin: 0.6em;
  text-align: center;
  text-decoration: none;
  box-shadow: 1px 1px 2px 1px darkgray;
  color: darkslateblue
}

.menu a:hover { color: crimson; }